<!DOCTYPE html>
<html lang="en">
<head>
    <title>Weather</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather-icon.png">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>
            Use this site to get your weather!
        </p>

        <form>
            <input placeholder="Location">
            <select name="" id="temperature">
                <option value="f">Fahrenheit</option>
                <option value="c">Celsius</option>
            </select>
            <button>Search</button>
        </form>
    </div>
    
    <p id="message-1"></p>
    <p id="message-2"></p>
    
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>